@tailwind base;
@tailwind components;
@tailwind utilities;
.theme-engineer {
	--color-base-color: 12 34 51;
	--color-main: 6 84 113;
	--color-sub: 10 145 171;
	--color-accent: 255 192 69;
	--color-white: 255 255 255;
	--color-transparent: 'transparent';
}

.setting {
	font-feature-settings: 'calt';
	font-variant-ligatures: contextual;
}
.glass {
	@apply bg-main bg-opacity-5;
	backdrop-filter: blur(1px);
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 0;
	border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
}
.glass-card {
	@apply text-white bg-white bg-opacity-5;
	backdrop-filter: blur(1px);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
	border: 1px rgba(255, 255, 255, 0.4) solid;
	border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
	border-right: 1px rgba(40, 40, 40, 0.35) solid;
}
.gradation-text {
	@apply bg-clip-text text-transparent bg-gradient-to-r from-base-color to-main;
}
.gradation {
	@apply bg-gradient-to-b from-base-color to-main;
}
.gradation-r {
	@apply bg-gradient-to-r from-base-color to-main;
}
.gradation-dark {
	@apply backdrop-blur-sm bg-base-color text-white bg-opacity-90;
}

body {
	word-break: break-word;
}
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	@apply bg-base-color
}

::-webkit-scrollbar-thumb {
	@apply bg-sub rounded-md
}
a:not([class]) {
	@apply text-main;
}
a:not([class]):hover {
	@apply decoration-0
}
.znc .code-block-container {
	margin: 0 !important;
}
h1,
h2,
h3,
h4,
h5 {
	@apply leading-tight tracking-wide;
}
img {
	image-rendering: -webkit-optimize-contrast;
}
.safe-area {
	height: env(safe-area-inset-bottom);
}
